body {
    background: #ff801f;
    background: linear-gradient(90deg, rgba(255, 128, 31, 1) 62%, rgba(237, 221, 83, 1) 90%);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 4px 3px 6px rgba(0, 0, 0, 1);
}

#search {
    position: relative;
    justify-content: center;
    align-items: center;
}

#searchInput {
    font-family: inherit;
    background-color: white;
    border: none;
    font-size: 45px;
    padding: 15px;
    height: 30px;
    width: 20%;
    border-radius: 10px;
}

.searchInput, .searchInput:click{
    outline: none;
}

#pokemon_list{
    position: inherit;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    background-color: rgba(100, 107, 246, 0.449);
    border-radius: 20px;
    padding: 20px;
}

.pokemon {
    display: flex;
    width: 190px;
    height: 260px;
    background-color: rgba(151, 255, 31, 0.803);
    border: 2px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.image_container {
    background-color: rgba(0, 0, 0, 0.155);
    width: 95%;
    height: 50%;
    transition: all .3s ease;
    border-radius: 75% 30% 60% / 60% 40% 60% 40%;
}

img {
    width: 70%;
    opacity: 0.8;
    transition: all .3s ease
  }

.poke_info{
    background-color: rgba(0, 255, 255, 0);
    width: 80%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.image_container img:hover{
    opacity: 1;
    transform: scale(1.25);
}

.poke-id{
    color: white;
    cursor: default;
}

.poke-name {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.363);
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

small{
  cursor: default;
}


/* yükleme görseli kısmı */
.lds-dual-ring {
    color: #1c4c5b
  }
  .lds-dual-ring,
  .lds-dual-ring:after {
    box-sizing: border-box;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }